@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@400;700&display=swap');

:root {
  --ak-dark: #17133e;
  --ak-main: #6C4BB6;
  --ak-accent: #b6a9d6;
  --ak-bg: #f9f8fc;
  --ak-hero-gradient: linear-gradient(135deg, #281660 0%, #9D50BB 100%);
  --ak-text-light: #faf7fd;
  --ak-text-dark: #191139;
}

body {
  background: var(--ak-bg);
  color: var(--ak-dark);
  font-family: 'Roboto', Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', Arial, sans-serif;
  color: var(--ak-main);
}

nav, footer {
  background: var(--ak-hero-gradient);
  color: var(--ak-text-light);
  font-family: 'Montserrat', Arial, sans-serif;
}

button, .hero a {
  background: var(--ak-main);
  color: var(--ak-text-light);
  font-size: 1.07em;
  border-radius: 8px;
}

.hero {
  background: var(--ak-hero-gradient);
  color: var(--ak-text-light);
  border-radius: 24px;
  padding: 2em;
  box-shadow: 0 0 22px 0 #6C4BB666;
}

section {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 2px 22px -11px #6C4BB613;
  margin: 1.8em auto;
  max-width: 800px;
}

a {
  color: var(--ak-main);
  text-decoration: underline;
  font-weight: 600;
}
